body {
	min-width: 600px;
}

#introInfo {
	border: 2px solid black;
}

#formDiv {
	/*display: none; remove comment once we have page up and running*/
	border: 2px solid black;
	min-height: 100%;
}

.box {
	width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: blue;
    margin-top: 5px;
}

/*#rowA, #rowB, #rowC, #rowD {
	min-height: 50px;
}*/