body {
	min-width: 600px;
}

#introInfo {
	border: 2px solid black;
}

#formDiv {
	border: 2px solid black;
	min-height: 100%;
}

#resForm {
	display: none;
}

#ticketImg {
	display: block;
	max-width: 100%;
}	
.box {
	width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: blue;
    margin-top: 5px;
}

